aside.side-bar {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    z-index: 5;

    background: #15c3d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
aside.side-bar footer button{
    width: 48px;
    height: 48px;
    border: none;
    background: #12afcb;
    border-radius: .6rem 1.7rem .6rem 1.7rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}
aside.side-bar footer button:hover{
    background:#17d6eb;
}
